@layer base {
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/NotoSans-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/NotoSans-Semibold.woff2') format('woff2');
  }
}
