@layer base {
  @keyframes circle-in {
    from {
      clip-path: circle(0% at top right);
    }

    to {
      clip-path: circle(150% at top right);
    }
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-noto;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }

  ::view-transition-new(root) {
    z-index: 2;
    animation: 300ms ease-out forwards circle-in;
  }
}
